* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --navbar-font-family: "Open Sans", Sans-serif;
    --navbar-bg-color: #333;
    --navbar-link-color: #e0aaff;
    --navbar-link-hover-color: #0088a9;
/* 240046 */

    --navbar-cta-bg-color: #ff9e00;
    --navbar-cta-bg-hover-color: #ff9e00;

    --body-bg-color: #27272c;
    --body-text-color: #baaec4;

    --primary-text-color: #ab79d6;
    --border: #240046;
}

body {
    background: var(--body-bg-color);
    color: var(--body-text-color);
    font-family: var(--navbar-font-family);
}

a {
    cursor: pointer;
}

h1 {
    color: var(--primary-text-color);
    font-weight: 800;
    letter-spacing: .04em;
    line-height: 1.1;
}

header {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-link-color);
    font-family: var(--navbar-font-family);
}

header a {
    color: var(--navbar-link-color);
}

header {
    position: fixed;
    top: 0;
    width:100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

header nav {
    display: block;
}

header nav .desktop {
    display: none;
}

.logo {
    font-size: 35px;
}

.cta {
    padding: 9px 25px;
    background-color: var(--navbar-cta-bg-color);
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s ease 0s;
}

.cta:hover {
    background-color: var(--navbar-cta-bg-hover-color);
}

header ul {
    display: flex;
}

header ul li {
    padding: 0 20px;
    display: none;
}

header ul li a {
    transition: color 0.3s ease 0s;
    font-weight: bold;
}

header ul li a:hover {
    color: var(--navbar-link-hover-color);
}

main {
    margin-top: 101px;
}

.hero__wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, auto));
    grid-gap: 2rem;
    padding: 10vmin 2rem;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hero__content {
    border-radius: 8px;
}

@media screen and (min-width: 450px) {

    header li.mobile {
        display: block;
    }
}

@media screen and (min-width: 800px) {

    header nav li.desktop {
        display: block;
    }

    header nav li.mobile {
        display: none;
    }
}

section.tarifs {
    display: flex;
    background-color: #0088a9;
}



table {
    margin: 15px;
    width: 40%;
}

a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-family: var(--navbar-font-family);
  border: none;
  border-radius: 5px;
  background: var(--navbar-cta-bg-color);
  font-size: 1rem;
  color: var(--navbar-bg-color);
  padding: .7rem .9rem;
  margin: .5rem 0;
  transition: .4s;
  cursor: pointer;
}

button:focus,
button:enabled:hover,
input[type="submit"]:focus,
input[type="submit"]:enabled:hover,
input[type="reset"]:focus,
input[type="reset"]:enabled:hover,
input[type="button"]:focus,
input[type="button"]:enabled:hover,
input[type="checkbox"]:focus,
input[type="checkbox"]:enabled:hover,
input[type="radio"]:focus,
input[type="radio"]:enabled:hover{
  opacity: .8;
}


/* Format tables */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 1.5rem 0;
    font-family: var(--navbar-font-family);
  }
  
  td,
  th {
    border: 1px solid var(--border);
    text-align: left;
    padding: .5rem;
  }
  
  th {
    background: var(--navbar-bg-color);
    font-weight: bold;
    text-align: center;
  }
  
  tr:nth-child(even) {
    /* Set every other cell slightly darker. Improves readability. */
    background: var(--navbar-bg-color);
  }
  
  table caption {
    font-weight: bold;
    margin-bottom: .5rem;
  }